/* Home page */

.logoimg{
    opacity: 0;
    animation: lgfade .8s ease-in-out forwards;
}

@keyframes lgfade {
    to{
        opacity: 1;
    }
}

.nav a{
    opacity: 0;
    animation: lgfade .8s ease-in-out forwards;
}

@keyframes mneufade {
    to{
        opacity: 1;
    }
}

.txt1{
    opacity: 0;
    animation: fadeslideX .8s ease-in-out 1s forwards;
}

@keyframes fadeslideX {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.txt2{
    opacity: 0;
    animation: fadeslideY .8s ease-in-out 2s forwards;
}

@keyframes fadeslideY {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.txt3{
    opacity: 0;
    animation: fade .8s ease-in-out 3s forwards;
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

.btn1{
    opacity: 0;
    animation: b1fade .8s ease-in-out 4s forwards;
}

@keyframes b1fade {
    from{
        transform: translateX(-10px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.btn2{
    opacity: 0;
    animation: b2fade .8s ease-in-out 4s forwards;
}

@keyframes b2fade {
    from{
        transform: translateX(10px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


/* scroll animation */


/* @keyframes swipe-animation {
    
    from{
        opacity: 0;
        transform: scale(0.9);
    }

    to{
        opacity: 1;
        transform: scale(1.3);
    }
}

.abtheader .abttxt{
    animation: swipe-animation 0.5s linear forwards;
    animation-timeline: scroll();
    opacity: 0;
} */